<html>
	<head>
		<title>AIFI</title>
		<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
		<script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyA7Ou9DP2cH2PgXviULaAfUtRvvgJaAy-k",
            authDomain: "aifi-f35b5.firebaseapp.com",
            databaseURL: "https://aifi-f35b5.firebaseio.com",
            projectId: "aifi-f35b5",
            storageBucket: "aifi-f35b5.appspot.com",
            messagingSenderId: "225280975391"
          };
          firebase.initializeApp(config);
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/718410bc64.js"></script>
		<script src="js/index.js"></script>
		<link rel="stylesheet" href="css/index.css"></script>
	</head>
	<body>
		<h2 style="text-align: center">Welcome to AIFI - Asynchronous-Interactive Feedback Interface!</h2>
		<div style="text-align: center">
			<button id="new_presentation_modal_btn" type="button" class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 20px" data-toggle="modal" data-placement="top" title="Add new presentation" data-target="#new_presentation_modal">+</button>
		</div>
		<script type="text/javascript">
			$('#new_presentation_modal_btn').tooltip();
		</script>
		<div class="modal fade" id="new_presentation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" style="text-align: center">Add a new presentation</h4>
          </div>
          <div class="modal-body">
						<form method="post" enctype="multipart/form-data" action="/">
				      <input id="presentation_selector" type="file" name="filename">
				    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="new_presentation_submit_btn" class="btn btn-primary" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
		<div style="text-align: center">
			<div class="panel panel-default" style="display: inline-block; width: 900">
				<div class="panel-heading">
					<h3 class="panel-title">Presentation List</h3>
				</div>
				<div class="panel-body" style="text-align: left">
					<ul id="video_list" class="list-group">
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
